<html>
    <head>
        <style>
            table, th, td {
                border: 1px solid black;
                border-radius: 10px;
                border-color: #96D4D4;
                align-items: center;
            }
            td {
                padding: 15px;
                text-align: center;
                background-color: wheat;
            }
            table {
                border-spacing: 10px;
            }
        </style>
        <title>{{ title }}</title>
    </head>
    <body bgcolor="green">
        {% if data['debug'] %}
        DEBUG MODE
        {% endif %}
        {% for player_name, v in data.items() %}
        <table>
            <tr>
                <td><button onclick="function{{ v['player_id'] }}()">{{ player_name }}</button></td>
                <td>Total: {{ v["total"] }}</td>
            </tr>
            <tr>
                <td>Balas: {{ v["ones"] }}</td>
                <td>Escalera: {{ v["straight"] }}</td>
                <td>Cuadras: {{ v["fours"] }}</td>
            </tr>
            <tr>
                <td>Duces: {{ v["twos"] }}</td>
                <td>Full: {{ v["full"] }}</td>
                <td>Qinas: {{ v["fives"] }}</td>
            </tr>
            <tr>
                <td>Trenes: {{ v["threes"] }}</td>
                <td>Poker: {{ v["poker"] }}</td>
                <td>Sena: {{ v["sixes"] }}</td>
            </tr>
            <tr>
                <td>Grande: {{ v["grande"] }}</td>
                <td>Tutti: {{ v["tutti"] }}</td>
            </tr>
        </table>
        {% if "stats" in v %}
        <script>
            msg{{ v['player_id'] }} = "Stats for {{ player_name }} records in this group\n";
            {% for key, value in v['stats'].items() %}
            msg{{ v['player_id'] }} += "{{ key }}: {{ value }}\n"
            {% endfor %}
            function function{{ v['player_id'] }}() {
                alert(msg{{ v['player_id'] }});
            }
        </script>
        {% endif %}
        {% endfor %}
    </body>
</html>